// COLORS
$primary-color: #f14040e3;
$secondary-color: #f14040c0;
$font-family: "Montserrat", sans-serif;

$light-white: #2a2727;
$white-color: #2a2727;
$dark-grey: #333333;

$dark-blue-text: #272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
